<%- include ('../partials/header') %>
<header class="home-cta">
  <h1>
    <strong>Lab 04:</strong>
    <hr>
    <br>
    <span>Your turn...</span>
  </h1>
</header>
<%- include ('../partials/footer') %>